/TP 1/padilla_tomas_tpo1/nbproject/private/
/TP 1/padilla_tomas_tpo1/build/
/Java Curso/Practicas POO JPA Swing/Ej 7/Ejercicio7/nbproject/private/
/Java Curso/Practicas POO JPA Swing/Ej 7/Ejercicio7/build/
/Java Curso/Practicas POO JPA Swing/Ej 8/Ejercicio8/nbproject/private/
/Java Curso/Practicas POO JPA Swing/Ej 8/Ejercicio8/build/
/Java Curso/Practicas POO JPA/Ej Integrador NO JPA/Ej10NoJPA/nbproject/private/
/Java Curso/Practicas POO JPA/Ej Integrador NO JPA/Ej10NoJPA/build/
/Java Curso/Practicas POO JPA/Practica JPA/TestJPA/nbproject/private/
/Java Curso/Practicas POO JPA/Practica JPA/TestJPA/build/
/Java Curso/Practicas POO JPA/Practica JPA/PracticasJPA/nbproject/private/
/Java Curso/Practicas POO JPA/Practica JPA/PracticasJPA/build/
/Ux Ui Curso/

